registry=https://pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/registry/:username=abbiatyiap
//pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/registry/:_password=[bjN6dWxoeW8ybWU3ZmRrZXdpam50N25xeG1xb3pyd2U3bnF6aGlyd2Z1anJ6d2NpMjZ4YQ==]
//pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/:username=abbiatyiap
//pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/:_password=[bjN6dWxoeW8ybWU3ZmRrZXdpam50N25xeG1xb3pyd2U3bnF6aGlyd2Z1anJ6d2NpMjZ4YQ==]
//pkgs.dev.azure.com/abbiatyiap/_packaging/pkgmgr-dias-r1-0-0-prod-artifact%40Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token