
.progressive-bar{
    width: 30%;
    padding-bottom: 40px;
    }
.cricle-spinner{
    padding: 40px 0;
}
.lazy-loading-container{
    padding-top: 20px;
    .dot-area{
        padding: 30px 0 0 18px;
        gap: 70px;
    }
}
